<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WHC</title>
    <meta name="description" content="A replicate of WHC" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- <script src="js/scripts.js"></script> -->
  </head>
  <body>
    <nav style="margin-top: 2.5rem">
      <div class="logo">
        <img src="images/Logo.PNG" alt="WebHosting Canada" />
      </div>
      <div class="links">
        <a href="/">Hosting & servers</a>
        <a href="/">Domain names</a>
        <a href="/">Websites</a>
        <a href="/">Email</a>
        <a href="/">Online Marketing</a>
        <a href="/">Security & SSL</a>
        <a style="color: red" href="/">Hot Deals</a>
      </div>
    </nav>
    <nav style="justify-content: flex-start; align-items: center">
      <input type="text" placeholder="Find you perfect domain" />
      <button type="button">Search</button>
      <div class="ca-com-net">
        <div>
          <img src="images/ca.PNG" alt="ca" />
          <a href="/">C$9.99</a>
        </div>
        <div>
          <img src="images/com.PNG" alt="ca" />
          <a href="/">C$11.99</a>
        </div>
        <div>
          <img src="images/net.PNG" alt="ca" />
          <a href="/">C$14.99</a>
        </div>
      </div>
    </nav>
    <main></main>
  </body>
</html>
