<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WHC</title>
    <meta name="description" content="A replicate of WHC" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/css/all.min.css" />
    <!-- <script src="javascripts/nav.js"></script> -->
  </head>
  <body>
    <nav class="row">
      <div style="text-align: center" class="col-m-12 col-2">
        <a class="logo" href="/">
          <img src="images/Logo.PNG" alt="WebHosting Canada" />
        </a>
      </div>
      <div class="col-m-12 col-4"></div>
      <!-- <div class="col-m-12 col-6">
        <div class="links row"> -->
      <div class="links col-m-4 col-1"><a href="/web-hosting">Hosting</a></div>
      <div class="links col-m-4 col-1"><a href="/">Domains</a></div>
      <div class="links col-m-4 col-1"><a href="/">Websites</a></div>
      <div class="links col-m-4 col-1"><a href="/">Marketing</a></div>
      <div class="links col-m-4 col-1"><a href="/">Security</a></div>
      <div class="links col-m-4 col-1">
        <a id="sign-in" style="color: #2e93ee" href="/signin">Sign In</a>
      </div>
      <!-- </div>
      </div> -->
    </nav>
    <!-- <nav>
      <a class="logo" href="/">
        <img src="images/Logo.PNG" alt="WebHosting Canada" />
      </a>
      <div class="links">
        <a href="/web-hosting">Hosting</a>
        <a href="/">Domains</a>
        <a href="/">Websites</a>
        <a href="/">Email</a>
        <a href="/">Marketing</a>
        <a href="/">Security</a>
        <a id="sign-in" style="color: #2e93ee" href="/signin">Sign In</a>
      </div>
    </nav> -->
    <div
      class="search-section"
      style="justify-content: flex-start; align-items: center"
    >
      <input type="text" placeholder="Find you perfect domain" />
      <button type="button">Search</button>
      <div class="ca-com-net">
        <div>
          <img src="images/ca.PNG" alt="ca" />
          <a href="/">C$9.99</a>
        </div>
        <div>
          <img src="images/com.PNG" alt="ca" />
          <a href="/">C$11.99</a>
        </div>
        <div>
          <img src="images/net.PNG" alt="ca" />
          <a href="/">C$14.99</a>
        </div>
      </div>
    </div>
    <main>
      <div stlye="margin: 0px; padding: 0px" class="hero-section">
        <!-- <div stlye="margin: 0px; padding: 0px" class="col-12"> -->
        <img src="images/jumbotron.PNG" alt="Hero-Section" />
        <!-- </div> -->
      </div>
      <div class="container">
        <div class="row content-section">
          <div class="card col-m-6 col-3">
            <img src="images/wh.PNG" alt="WH" />
            <h3>Web Hosting</h3>
            <p>Get fast and unlimited web hosting for your site</p>
            <button type="button" onclick="location.href='/web-hosting';">
              Get Hosting
            </button>
            <p class="hide">SAVE UPTO 50% OFF</p>
          </div>
          <div class="card col-m-6 col-3">
            <img src="images/cs.PNG" alt="CS" />
            <h3>VPS Hosting</h3>
            <p>Full root access in a fully scalable hosting environment</p>
            <button type="button" onclick="location.href='/';">
              Compare Clouds
            </button>
            <p class="hide">SAVE UPTO 67% OFF</p>
          </div>
          <div class="card col-m-6 col-3">
            <img src="images/ds.PNG" alt="DS" />
            <h3>Dedicated Servers</h3>
            <p>The ultimate in performance. Get total server control</p>
            <button type="button" onclick="location.href='/';">
              View Servers
            </button>
            <p class="hide">SAVE UPTO 26% OFF</p>
          </div>
          <div class="card col-m-6 col-3">
            <img src="images/wp.PNG" alt="WP" />
            <h3>WordPress</h3>
            <p>2.5x the speed, beefed up security, and free migrations</p>
            <button type="button" onclick="location.href='/';">
              Get WordPress
            </button>
            <p class="hide">SAVE UPTO 40% OFF</p>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <div class="row">
      <div class="col-m-3 col-3" style="background-color: beige">
        <h2>Hosting</h2>
        <p><a href="/">Web hosting</a></p>
        <p><a href="/">Wordpress hosting</a></p>
        <p><a href="/">Reseller hosting</a></p>
        <p><a href="/">VPS hosting</a></p>
        <p><a href="/">Dedicated hosting</a></p>
        <p><a href="/">Application hosting</a></p>
        <p><a href="/">Windows hosting</a></p>
        <p><a href="/">Website builder</a></p>
        <p><a href="/">Mobile hosting</a></p>
        <p style="margin-bottom: 7px"><a href="/">Network hosting</a></p>
      </div>
      <div class="col-m-6 col-6" style="background-color: peachpuff">
        <div class="row">
          <div class="col-m-6 col-6">
            <h2>Domains</h2>
            <p><a href="/">Register domains</a></p>
            <p><a href="/">Transfer domains</a></p>
            <p><a href="/">Manage domains</a></p>
          </div>
          <div class="col-m-6 col-6">
            <h2>Support</h2>
            <p><a href="/">Customer Portal</a></p>
            <p><a href="/">Video tutorials</a></p>
            <p><a href="/">Live chat</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-m-6 col-6">
            <h2>Marketing</h2>
            <p><a href="/">Awards & Reviews</a></p>
            <p><a href="/">Company blog</a></p>
            <p><a href="/">Media relations</a></p>
          </div>
          <div class="col-m-6 col-6">
            <h2>Services</h2>
            <p><a href="/">Code Gaurd</a></p>
            <p><a href="/">Web Desgin</a></p>
            <p><a href="/">SEO</a></p>
          </div>
        </div>
      </div>
      <div class="col-m-3 col-3">
        <div class="row icons">
          <div class="col-m-12 col-12">
            <a href="/"><i class="fab fa-facebook fa-4x"></i></a>
            <a href="/"><i class="fab fa-twitter fa-4x"></i></a>
            <a href="/"><i class="fab fa-instagram fa-4x"></i></a>
            <a href="/"><i class="fab fa-pinterest fa-4x"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-m-12 col-6">
            <p><a href="/">Global Directory</a></p>
          </div>
          <div class="col-m-12 col-6">
            <p><a href="/">Terms of Service</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-m-12 col-6">
            <p><a href="/">Privacy Notice</a></p>
          </div>
          <div class="col-m-12 col-6">
            <p><a href="/">Sitemap</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-m-12 col-12">
            <p>Copyright TheYoungWolf Productions© 2021</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
