body {
  background-image: linear-gradient(to right, #2e93ee, #ffcf00);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  /* padding: 0 2rem; */
  /* margin: 0px 4rem 10px 4rem; */
}
/* 
  body > div {
      display:flex
  } */

.sub-division {
  color: #2e93ee;
  margin-bottom: 0%;
}
.sub-division-danger {
  color: #a94442;
  margin-bottom: 0%;
  background-color: #f2dede;
}
/* 
.container {
  padding: auto 20px;
} */

.signup-card {
  background-color: white;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  width: 85%;
}

.signup-card .info {
  /* display: flex;
  justify-content: left; */
  margin: 0px 40px;
  text-align: center;
}

.signup-card .info input {
  margin: 0px 5px;
  width: 80%;
  padding: 1rem 2rem 1rem 15px;
  border: 1px solid grey;
  border-radius: 3px;
}

.signup-card .input-section-2 {
  margin: 0px 0px 0px 43%;
}

.signin-section {
  width: 85%;
  margin: auto;
  background-color: #ecebe7;
  padding: 20px 40px;
  border-radius: 0px 0px 10px 10px;
}

.signin-section a {
  text-decoration: none;
  color: #af9996;
}

.signin-section a:hover {
  color: #2e93ee;
}
/* 
.input-section-2 a {
  margin-top: 1rem;
  text-decoration: none;
  color: #af9996;
  padding-left: 10px;
} */

.input-section-2 a:hover {
  color: #2e93ee;
}

form button {
  width: 100%;
  background-color: #2e93ee;
  color: #ffcf00;
  font-size: large;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(88, 128, 214);
}
